* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
    margin: 51px 1249px 0px 230px;

}

.color-orange {
    color: #FD6E0A
}

.btn {
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    cursor: pointer;
}
.text-center {
    text-align: center;
    padding-top: 30px;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    /* padding-top: 130px; */
}
.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
    line-height: 30px;
}
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner {
 /* border: 1px solid red; */
 margin: 161px 38px  0px 230px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

#banner .banner-contant h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    
}
#banner .banner-contant h1{
    font-size: 85px;
    font-weight: 900px;
    color: #181818;
    margin: 5px;
    
}
#banner .banner-contant p{
    font-size: 18px;
    color: #666666;
    max-width: 540px;
    line-height: 30px;
    
}
#bannner .banner-image img{
    
    max-width: 585px;
    vertical-align: middle;
}
 #about {
    
    padding: 123px;
    text-align: center;
    
 }

#about .about-me-content {

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
    
}
#about .about-me-content .info-card {
    display: flex;
    justify-content: space-between;
    
}
.about-me-content .info-card{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-me-content .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-me-content .info-card h4{
    font-size: 20px;
    font-weight: 600;
    
}
#skills {
    padding: 130px;   
    
}
#skills .skills-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.section-heading h4{
    
}
.skills-box {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 50px;
    
}
.skills-box .skill-card {
    padding: 30px;
    max-width: 247px;
    box-shadow: 0 6px 50px 0 rgba(0,0,0,0.1);

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    
}
.resume-container{
    padding-top: 113px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 24px;

}
/* .resume-container hr{
    margin: 30px 24px ;
} */
.resume-container .resume-title {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container .resume-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}
.resume-container .resume-text {
    font-size: 16px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 28px;
}
footer{
    margin-top: 130px;
    padding: 130px 0px;
    background-color: #FFF8F3;
}
.footer-content {
   width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-content h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    
}
.footer-content p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-content .social-icons a{
    margin-right: 24px;
}
.footer-content form input[type="text"], .footer-content form textarea {
    
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
}
